:root,
:host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-black: #000;
    --color-white: #fff;

    --color-black-50: rgb(0, 0, 0, 0.05);
    --color-black-200: rgb(0, 0, 0, 0.2);
    --color-black-300: rgb(0, 0, 0, 0.3);
    --color-black-400: rgb(0, 0, 0, 0.4);
    --color-black-500: rgb(0, 0, 0, 0.5);
    --color-black-600: rgb(0, 0, 0, 0.6);
    --color-black-700: rgb(0, 0, 0, 0.7);
    --color-black-800: rgb(0, 0, 0, 0.8);
    --color-black-900: rgb(0, 0, 0, 0.9);
    --color-black-950: rgb(0, 0, 0, 0.95);

    --color-pink-700: #d2042d;
    --color-pink: #d2042d;

    --gradiant: linear-gradient(135deg, var(--color-white) 0%, var(--color-blink) 100%);

    --spacing: .25rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-3xl: 48rem;
    --container-6xl: 72rem;
    --text-xs: .8125rem;
    --text-xs--line-height: 1.5384;
    --text-sm: .875rem;
    --text-sm--line-height: 1.5715;
    --text-base: .9375rem;
    --text-base--line-height: 1.5333;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.5;
    --text-xl: 1.25rem;
    --text-xl--line-height: 1.5;
    --text-3xl: 1.75rem;
    --text-3xl--line-height: 1.3571;
    --text-4xl: 2.5rem;
    --text-4xl--line-height: 1.1;
    --text-5xl: 3.5rem;
    --text-5xl--line-height: 1;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --tracking-normal: 0em;
    --leading-tight: 1.25;
    --radius-xs: .125rem;
    --radius-lg: .5rem;
    --radius-2xl: 1rem;
    --ease-out: cubic-bezier(0, 0, .2, 1);
    --blur-xs: 4px;
    --blur-3xl: 64px;
    --aspect-video: 16 / 9;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --font-inter: var(--font-inter), sans-serif;
    --font-nacelle: var(--font-nacelle), sans-serif;
    --text-base--letter-spacing: -.0125em;
    --text-lg--letter-spacing: -.0125em;
    --text-xl--letter-spacing: -.0125em;
    --text-3xl--letter-spacing: -.0268em;
    --text-4xl--letter-spacing: -.0268em;
    --text-5xl--letter-spacing: -.0268em;
}

.text-pink-700 {
    color: var(--color-pink);
}

.bg-pink-700 {
    background-color: var(--color-pink);
}

.btn {
    padding-inline: calc(var(--spacing) * 4);
    padding-block: 11px;
}

.btn,
.btn-sm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    white-space: nowrap;
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
}

footer{
    background-image: url("../image/footer/footer.png");

}

*.Mui-focused .MuiOutlinedInput-notchedOutline,
*.Mui-focused .MuiPickersOutlinedInput-notchedOutline {
    outline: none;
    background: transparent !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) !important;
    border: none
}

.hero-home-bg{
    background-image: url("../image/banner/bannerHome.png");
}

.hero-about-bg{
    background-image: url("../image/banner/bannerAbout.png");
}

.hero-menu-bg{
    background-image: url("../image/banner/bannerMenu.png");
}

.hero-service-bg{
    background-image: url("../image/banner/bannerSv.png");
}

.hero-contact-bg{
    background-image: url("../image/banner/bannerContact.png");
}